@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

h1 {
    font-family: Pacifico;
    font-size: 50px;
    text-align: center;
    padding: 15px;
    margin: 10px;
}


#conteudo {
    background-color: #FFFFFF;
    height: auto;
    width: 500px;
    margin: auto;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.225);
    border-radius: 8px;
}

#visor {
    font-family: fjalla one;
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 15px;
    margin: 10px;
}

#impar, #par{
    width: 80px;
}

#parOuImpar{
    display: flex;
    align-content: center;
    justify-content: center;
}

#numerosMaos{
    display: flex;
    align-content: center;
    justify-content: center;
}

.hide {
    display: none !important
    ;
}